# БД
*.db

# Конфигурации
settings.ini

# Mac
.DS_Store

# JetBrains
.idea/

# Python
__pycache__/

# Логи
logs.log

# Эксперименты
trello_module/
legacy/

# Virualenv
memorizationbot/

# Сертификаты
*.pem
*.crt